nav {
  /* position: absolute; */
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: bisque;
  height: 55px;
  z-index: 100;
}
.logo {
  margin: auto 0;
  font-family: 'Monoton';
  color:#272727;
}
nav div {
  margin: auto 0;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links li {
  margin: auto 10px;
  cursor: pointer;
}
.single-link {
  list-style: none;
  margin: auto 0;
  color: black;
  font-size: 1.5rem;
}
.nav-burger {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
.nav-burger span {
  height: 30px;
  width: 30px;
  background-color: azure;
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: none;
  }
  .nav-burger {
    display: block;
  }
  .nav-burger-links {
    display: block;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: blanchedalmond;
  }
  .nav-burger-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-burger-links > .link {
    padding: 10px;
  }

  .hidden {
    display: none;
  }
}
